{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-body">
                    <h2 class="card-title">Bienvenido a Tablero</h2>
                    {% if user.is_authenticated %}
                        <!-- Botón para crear tablero -->
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <a href="{% url 'creartablero' %}" class="btn btn-success">Crear Tablero</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Mostrar todos los tableros en tarjetas -->
        <!-- Mostrar todos los tableros en tarjetas -->
<!-- Resto del contenido -->

<!-- Mostrar todos los tableros en tarjetas -->
<div class="row mt-5">
    
    {% for tablero in tableros %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    {% if tablero.nombre %}
                        <h5 class="card-title">{{ tablero.nombre }}</h5>
                    {% else %}
                        <h5 class="card-title">Nombre no definido</h5>
                    {% endif %}
                    {% if tablero.descripcion %}
                        <p class="card-text">{{ tablero.descripcion }}</p>
                    {% else %}
                        <p class="card-text">Descripción no definida</p>
                    {% endif %}
                    <a href="{% url 'tarjetaview' tablero.id %}" class="btn btn-info mt-3">Ver Tarjetas</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>



<!-- Resto del contenido -->

    </div>
{% endblock %}
