<!-- templates/tarjetaview.html -->

{% extends 'base.html' %}

{% block title %}Tarjetas del Tablero: {{ tablero.nombre }}{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
    <h2 class="text-center">Tarjetas del Tablero: {{ tablero.nombre }}</h2>

    <!-- Botón para agregar tarjeta -->
    <button type="button" class="btn btn-success mx-auto" data-toggle="modal" data-target="#agregarTarjetaModal">
        Agregar Tarjeta
    </button>

    <!-- Agregar usuarios permitidos al tablero -->
    {% if request.user == tablero.propietario %}
        <div class="mt-3 text-center">
            <form method="post" action="{% url 'tarjetaview' tablero.id %}">
                {% csrf_token %}
                <label for="id_usuarios_permitidos">Usuarios Permitidos (separados por coma):</label>
                <input type="text" name="usuarios_permitidos" class="form-control" id="id_usuarios_permitidos">
                <button type="submit" name="agregar_usuarios_permitidos" class="btn btn-primary mt-2">Agregar Usuarios Permitidos</button>
            </form>
        </div>
         <!-- Formulario para borrar tablero -->
         <form method="post" action="{% url 'borrar_tablero' tablero.id %}" class="mt-3">
            {% csrf_token %}
            <button type="submit" name="borrar_tablero" class="btn btn-danger">Borrar Tablero</button>
        </form>
    {% endif %}
    
    <!-- Mostrar todas las tarjetas del tablero en disposición horizontal -->
    <div class="row mt-3">
        {% for tarjeta in tarjetas %}
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ tarjeta.nombre }}</h5>
                        <a class="badge badge-danger d-block mx-auto" style="margin-bottom: 10px;">{{ tarjeta.etiquetas }}</a>
                        <p class="card-text">{{ tarjeta.descripcion }}</p>
                        <!-- Botón para abrir el modal -->
                        <button type="button" class="btn btn-primary d-block mx-auto" data-bs-toggle="modal" data-bs-target="#tarjetaModal{{ tarjeta.id }}">
                            Ver Detalles
                        </button>
                        <form method="post" action="{% url 'borrar_tarjeta' tarjeta.id %}">
                            {% csrf_token %}
                            <button type="submit" name="borrar_tarjeta" class="btn btn-danger mt-2">Borrar Tarjeta</button>
                        </form>
                    </div>
                </div>
            </div>

                <!-- Modal para mostrar tareas y comentarios existentes -->
                <div class="modal fade" id="tarjetaModal{{ tarjeta.id }}" tabindex="-1" role="dialog" aria-labelledby="tarjetaModalLabel{{ tarjeta.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="tarjetaModalLabel{{ tarjeta.id }}">Detalles de la Tarjeta: {{ tarjeta.nombre }}</h5>
                                    
                            </div>
                            <div class="modal-body">
                                <!-- Sección para mostrar tareas y comentarios -->
                                <h6>Tareas:</h6>
                                {% for tarea in tareas %}
                                    {% if tarea.id_tarjeta_id == tarjeta.id %}
                                        <p>Tarea: {{ tarea.descripcion }}</p>
                                        <!-- Formulario para editar el estado de la tarea -->
                                        <form method="post" action="{% url 'tarjetaview' tablero.id %}">
                                            {% csrf_token %}
                                            {{ tarea_form.as_p }}
                                            <input type="hidden" name="tarea_id" value="{{ tarea.id }}">
                                            <button type="submit" name="editar_tarea" class="btn btn-primary">Editar Tarea</button>
                                        </form>
                                    {% endif %}
                                {% endfor %}
                                        
                                <h6>Comentarios:</h6>
                                {% for comentario in comentarios %}
                                    {% if comentario.tarjeta_id == tarjeta.id %}
                                        <p>Comentario de {{ comentario.usuario.username }}: {{ comentario.contenido }}</p>
                                        <!-- Puedes mostrar más detalles del comentario según tus necesidades -->
                                    {% endif %}
                                {% endfor %}

                            </div>
                            <div class="modal-footer">
                                <!-- Formulario para agregar tarea -->
                                <form method="post" action="{% url 'tarjetaview' tablero.id %}" class="form-inline">
                                    {% csrf_token %}
                                    <div class="form-group mx-sm-3 mb-2">
                                        {{ tarea_form.descripcion }}
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        {{ tarea_form.estado }}
                                    </div>
                                    <input type="hidden" name="tarjeta_id" value="{{ tarjeta.id }}">
                                    <button type="submit" name="agregar_tarea" class="btn btn-primary mb-2">Agregar Tarea</button>
                                </form>
                            
                                <!-- Formulario para agregar comentario -->
                                <form method="post" action="{% url 'tarjetaview' tablero.id %}" class="form-inline">
                                    {% csrf_token %}
                                    <div class="form-group mx-sm-3 mb-2" style="border-radius: 10px;">
                                        {{ comentario_form.contenido }}
                                    </div>
                                    <input type="hidden" name="tarjeta_id" value="{{ tarjeta.id }}">
                                    <button type="submit" name="agregar_comentario" class="btn btn-primary mb-2">Agregar Comentario</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Modal para agregar tarjeta -->
        <div class="modal fade" id="agregarTarjetaModal" tabindex="-1" role="dialog" aria-labelledby="agregarTarjetaModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarTarjetaModalLabel">Agregar Tarjeta</h5>
                    </div>
                    <div class="modal-body">
                        <!-- Formulario para agregar tarjeta -->
                        <form method="post" action="{% url 'tarjetaview' tablero.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_nombre">Nombre:</label>
                                <input type="text" name="nombre" class="form-control" id="id_nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="id_descripcion">Descripción:</label>
                                <textarea name="descripcion" class="form-control" id="id_descripcion" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="id_etiquetas">Etiquetas:</label>
                                <input type="text" name="etiquetas" class="form-control" id="id_etiquetas" required>
                            </div>
                            <button type="submit" name="agregar_tarjeta" class="btn btn-primary">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
